.maintab{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.one{
    background-color: rgb(228, 228, 228);
    padding-top: 10px;
    padding-bottom: 5px;
}

.two{
    padding-top: 13px;
    padding-bottom: 5px;
}

.dropdowns{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.formcontrol{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.maintitle{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.oneline{
    text-align: center;
    font-weight: 500;
}
input::placeholder {
    text-align: center;
}
.btt{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    background-color:rgb(29, 161, 242);
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}
  